build/
build_*/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

src/pri_cpu/build/
src/pri_cpu/build_*/
src/pri_cpu/build_gpp/

__pycache__/
*.py[cod]

FL/.cache/
FL/models_cache/
FL/trained_models/
FL/pri_workspace/

test_output/
test_output_*/
test_data/lsh_results/
